
<header>
    <img src="../../assets/Logo2.png" class="Logo2"/>
    <!--h1 id ="h1" > alaabi</h1-->
        <!--div class="RESEARCH">
          <input type="text"  [(ngModel)]="searchQuery" (input)="onSearch()"placeholder="Search a product"id="barre">
          <button id="btSearch">Search</button>
        
        </div -->
 
        <form class="myForm">
          <select id="AgeSelect" value="Age" class="selectH">
            <option>Age</option>
            <option value="3 - 6"  >3 - 6 Years old</option>
            <option value="7 - 11">7 - 11</option>
            <option value="12 - 16">12 - 16 Years old</option>
          </select>
          
          <select id ="GenderSelect" value ="Gender" class="selectH">
            <option >Gender</option>
            <option value="F"  >Female</option>
            <option value="M" >Male</option>
          </select>
          
          <select id="CategorieSelect"value="categories"class="selectH">
            <option>categories</option>
            <option value="Dolls" >Dolls</option>
            <option value="Vehicules" >Vehicules</option>
            <option value="Puzzles">Puzzles</option>

          </select>
        </form>



</header>

<h2 id="h2">Vehicules</h2>


<iframe src = "../../assets/tableauxVehicules.html" width="100%" height="500px" frameborder="0"></iframe>




<footer id = "feet">
  <ul >
   <li> Customer service : <br>
    69 869 869 <br>
    86 969 698
   </li>
   <li>
    E-mail : alaabistore  alaabi.tn
   </li>
   </ul>
   <img src="../../assets/Admin.ico"id="Admin" alt="Admin access"  usemap="#imageMap"/>

   
  
  <map name="imageMap">
      <area shape="rect" coords="0,0,50,50" alt="Area 1" href="AdminPage.html" target="_parent" style="cursor: pointer;">
      
  </map>
   
   
   
</footer>
