<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin_Page</title>
  <link rel="stylesheet" href="../../assets/styles.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  
</head>
<body>

    <div class="les_tableaux ">
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/Barbie_Doll.png" alt="image" class="imgProduit" />
                    <p class="nom_P"> Barbie doll and horse</p>
                    <P CLass = "prix_P">17dt</P>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DELETE</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modifier</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/ProduitExemple.png" alt="image" class="imgProduit" />
                    <p class="name_P"> Baby Stella </p>
                    <p class="prix_P">30dt</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/Frozen.png" alt="image" class="imgProduit" />
                    <p class="name_P"> Disney Frozen Doll </p>
                    <p class ="prix_P">40dt</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL">DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/Wee.png" alt="image" class="imgProduit" />
                    <p class="name_P"> Wee baby fella doll </p>
                    <p class="prix_P">17dt</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/Pokemon.png" alt="image" class="imgProduit" />
                    <p class="name_P"> Pokemon Plush 8" </p>
                    <p class="prix_P">25dt</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/house.png" alt="image" class="imgProduit" />
                    <p class="name_P"> Barbie's house </p>
                    <p class="prix_P"> 300dt</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/Brio.png" alt="image" class="imgProduit" />
                    <p class="name_P">Brio RC Race Car</p>
                       <p class="prix_P"> 35dt </p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/train.png" alt="image" class="imgProduit" />
                    <p clas="name_P"> Remote control train </p>
                    <p class="prix_P">29dt</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
        </table>
        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/Drone.png" alt="image" class="imgProduit" />
                    <p class="name_P">Cyber Drone </p>
                    <p class="prix_P">75dt</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
        </table>
            <table id="Produits">
                <tr>
                    <td>
                        <img src="../../assets/puzzle_pick.png" alt="image" class="imgProduit" />
                        <p class="name_P"> 365 puzzles PICK A DAY</p>
                        <p class="prix_P">100dt</p>
                    </td>
                    </tr>
                    <tr>
                    <td colspan="2">
                        <button class="DEL"> DEL</button>
                    
    
                    
                        <button routerLink="/Modifier" class="Modif_P"> Modify</button>
                    </td>
                </tr>
                
          
        </table>

        <table id="Produits">
            <tr>
                <td>
                    <img src="../../assets/UNO.png" alt="image" class="imgProduit" />
                    <p class="name_P">UNO Family </p>
                    <p class="prix_P">5DT</p>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button class="DEL"> DEL</button>
                

                
                    <button routerLink = "/Modifier" class="Modif_P"> Modify</button>
                </td>
            </tr>
            
      
    </table>
    <table id="Produits">
        <tr>
            <td>
                <img src="../../assets/SORT_Puzzle.png" alt="image" class="imgProduit" />
                <p class="name_P">Sort&GO! Puzzle </p>
                <p class="prix_P">50dt</p>
            </td>
            </tr>
            <tr>
            <td colspan="2">
                <button class="DEL"> DEL</button>
            

            
                <button routerLink="/Modifier" class="Modif_P"> Modify</button>
            </td>
        </tr>
        
  
</table>
<table id="Produits">
    <tr>
        <td>
            <img src="../../assets/Rubic.png" alt="image" class="imgProduit" />
            <p class="name_P">Rubik's cube </p>
            <p class="prix_P">50dt</p>
        </td>
        </tr>
        <tr>
        <td colspan="2">
            <button class="DEL"> DEL</button>
        

        
            <button routerLink="/Modifier" class="Modif_P"> Modify</button>
        </td>
    </tr>
    

</table>
        
    </div>



<footer>
    <button routerLink="/ADD" class="Add_p"> ADD PRODUCT</button>
    <!--script src="../../assets/Admin_Pages.js"></script>
    <script src = "../../assets/DEL_PRODUCT.js"></script-->
    
</footer>

    

</body>
</html>
  
        
